.home {

  @media @mobile {
     width: 90%;
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width:  100%;
        flex-direction: column;
      }

    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width:  100%;
        margin-left: 5%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .head-content {

     h2 {
       padding: 2% 0%;
      }

      p {
       padding-bottom: 2%;
       border-bottom: 2px dashed silver;
      }

      @media @mobile {
        margin-top: -6%;
      }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 95%;
    }
  
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      border-top: 2px dashed silver;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 15%;
        padding: 1%;
      }
    }

    .btn {
      .button (80%; @button-bg; center; white;);
      border-radius: 10px;
      font-size: 1.8rem;
      padding: 4%;
    }
  }
}// home