// Navigation Styles here

.navbar {
    display: flex;
    padding: 6% 0%;
    border-bottom: 2px dashed lightgrey;

    nav {
        display: flex;
        width: 60%;
        margin-left: 45%;

    }

     nav a {
        font-size: 1.6rem;
        margin-left: 8%;
        padding-top: 5%;
    
    }

    h1 {
        width: 30%;
    }
}


